{% extends 'cms/base.html' %}

{% block title %}ToDoの追加| {% endblock %}

{% block hero %}
<section class="hero is-small is-link is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ user.username }}のToDo一覧</h1>
            <h2 class="subtitle">My ToDo List</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
          {% if user.pk == request.user.pk %}
            <div class="tile is-12 is-vertical is-parent">
                「{{ todo }}」を自分のメインToDoに設定しました！
            </div>
          {% endif %}
          <br>
        </div>
        <div class="buttons">
          <a class="button is-info navbar-item" href="{% url 'cms:user_detail' user.pk %}">
            <strong>マイページへ</strong>
          </a>
        </div>
    </div>
</section>
{% endblock %}
